@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: repeat url(../images/heart-love.gif), linear-gradient(#ffffff, #f9d6d6);   
     background-size: auto, cover; /*image repeat and gradient cover entire area */
    text-align: center;
    font-family: "Abril Fatface";
}

.container {
    max-width: 100%;
    margin: 50px auto 0 auto;
}

#kuromi-gif {
    width: 500px;
    height: 400px;
    object-fit: cover;
}

h1 {
    font-size: 3rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 75px;
}

button {
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    font-family: "Roboto";
    font-weight: 700;
    cursor: pointer;
    min-width: 100px;
    max-width: 500px;
    padding: 10px 15px;
    transition: transform 0.3s ease;
}

button:hover {
    scale: 1.1;
}

#yes-btn {
    background-color: green;
    /* the point around which a transformation is applied */
    transform-origin: center top;
}

#no-btn {
    background-color: red;
}